

.ass_details_title{
    font-size: 18px;
    text-align: center;
    padding: 18px;
}

.ass_group_tab_wrap{
    margin: 10px 0;
    display: flex;
    align-items: center;
}
.ass_group_tab_wrap>div{
    border: 1px solid #f7ba1a;
    padding: 5px 20px;
    border-radius: 5px;
}
.ass_group_tab_wrap>ul{
    display: flex;
    margin-left: 50px;
}
.ass_group_tab_wrap>ul>li{
    margin: 0px 10px;
}
.ass_content{
    margin-top: 50px;
}
.ass_content>li{
    border-bottom: 1px solid #e0e0e0;
    padding: 18px;
}
.ass_content>li>p{
    margin: 5px 0;
}
.ass_content>li>ul{
    display: flex;
}
.ass_content>li>ul>li{
    margin: 5px 20px;
    display: flex;
    align-items: center;
}
.ass_group_tab>li{
    cursor: pointer;
}
.ass_group_tab>li:hover,.ass_group_tab>li:hover span{
    color: #f2c230;
}
.red{
    color: #f2c230;
}
.a0{
    color: #a0a0a0;
}
.ass_total_score,.ass_role{
    line-height: 2em;
}
.ass_group_content_item{
    border-bottom: 1px solid #e0e0e0;
    padding: 18px;
}
.ass_group_content_item>ul{
    display: flex;
}
.ass_group_content_item>ul>li{
    margin: 5px 20px;
}
.all_btn:hover{
    background: #fff8ea;
    color: #f2c230;
    cursor: pointer;
}