html, body{
    width: 100%;
    height: 100%;
    position: relative;
}
.wrap{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    min-width: 1200px;
}
.header{
    height: 54px;
    /*background: #f9c84d;*/
    background: #005ca1;
    display: flex;
    padding-right: 40px;
    justify-content: space-between;
    color: white;
}
.logo{
    display: flex;
    height: 54px;
    align-items: center;
    padding-left: 40px;
}
.logo img{
    width: 91px;
    height: 30px;
}
.line_short{
    width: 1px;
    height: 22px;
    background: #fff;
    margin: 0 12px;
}
.logo span{
    font-size: 15px;
    font-weight: 500;
}
.user{
    width: 188px;
    display: flex;
    align-items: center;
}
.message_tip{
    position: relative;
}
.message_tip .icon-lingdang{
    font-size: 20px;
}
.message_tip span{
    position: absolute;
    display: inline-block;
    height: 10px;
    line-height: 10px;
    border: 2px solid #fff;
    border-radius: 12px;
    background: #f56c6c;
    padding: 2px 4px 3px;
    top: -8px;
    left: 10px;
    color: white;
}
.avatar img{
    width: 30px;
    height: 30px;
    margin: 0 12px 0 50px;
}
.user_name{
    color: #666;
    font-size: 14px;
}
.content{
    height: calc(100% - 54px);
    display: flex;
}
.content .left{
    width: 200px;
    height: 100%;
    background: #002f5b;
    /*background: #3c3453;*/
}
.content .right{
    width: 100%;
    height: 100%;
    flex: 1;
    background: #F7FCFD;
    padding: 40px 50px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
}
.left_list{
    margin-top: 40px;
    color: white;

}
.left_list li{
    height: 40px;
    padding: 10px 34px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: 16px;
    cursor: pointer;
    transition: background-color .3s ease;
}
.left_list li i{
    font-size: 18px;
    margin: 0 24px 0 0;
    line-height: 1;
}
.left_list li:hover{
    color: white;
    background: #f9c84d;
}
.left .left_list .active{
    position: relative;
    background: white;
    color: #f9c84d;
}
.left .left_list .active::after{
    position: absolute;
    top: 8px;
    left: 0;
    content: "";
    display: block;
    height: 24px;
    width: 3px;
    background-color: #ffbb29;
}
.box{
    display: none;
}
.on{
    display: block;
}
/*主题管理*/
.box h2{
    font-size: 2em;
    font-weight: bold;
}
.box_content{
    background: white;
    border: 1px solid #eee;
    border-radius: 5px;
    margin-top: 30px;
    padding: 20px 30px 30px;
    margin-bottom: 20px;
    box-sizing: border-box;
}
.zhuti_top,.gauge_top,.admin_top{
    display: flex;
    justify-content: space-between;
}
.zhuti_title,.gauge_title,.admin_title{
    font-weight: 400;
    font-size: 20px;
    height: 32px;
    line-height: 32px;
    margin-bottom: 15px;
}
.zhuti_add,.gauge_add,.admin_add{
    height: 32px;
    display: flex;
    align-items: center;
    padding: 0 14px 2px 10px;
    background: #e6a825;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.zhuti_add span,.gauge_add span{
    display: block;
    font-size: 20px;
    width: 20px;
    height: 27px;
}
.zhuti_add:hover, .gauge_add:hover{
    background: #ffc954;
}
.input_wrap{
    display: flex;
}
.input_wrap>div{
    height: 36px;
    margin-right: 50px;
    -webkit-appearance: none;
    background-color: #fff;
    background-image: none;
    border-radius: 5px;
    box-sizing: border-box;
    color: #606266;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.layui-form-pane .zhuangtai{
    margin-left: 0px;
    padding-left: 0px;
    width: 120px;
}
.layui-form-pane .layui-input-block .layui-input{
    border-radius: 5px;
}
.layui-form-select dl dd.layui-this {
    background-color: #f9bf53;
    color: #fff;
}
.layui-form-pane .input_sousuo{
    margin-left: 0px;
    padding-left: 0px;
    width: 220px;
}
.layui-form-pane .gauge_input_wrap .input_sousuo{
    margin-left: 0px;
    padding-left: 0px;
    width: 320px;
}

.input_sousuo .icon-sousuo{
    position: absolute;
    left: 10px;
    top: 11px;
}
.input_sousuo input{
    padding-left: 30px;
}
.input_wrap .sousuo{
    border-radius: 5px;
    border: 1px solid #e6e6e6;
    padding: 0 20px;
    color: #666;
    cursor: pointer;
}
.input_wrap .sousuo:hover{
    background-color: #fff8ea;
    border: 1px solid #f9bf53;
    color: #e6a825;
}
.layui-laypage a:hover {
    color: #e6a825;
}
.layui-table-click:hover a{
    color: #e6a825;
    background: #f2f2f2;
    border: none;
}
#barEdit a, #barUserEdit a, #barScaleEdit a, #barAdminEdit a,#barClockEdit a,
#barAssEdit a, #barExportEdit a{
    color: #e6a825;
    background: transparent;
    border: none;
}
.layui-layer .layui-layer-btn .layui-layer-btn0{
    border-color: #E6E3E6;
    background-color: #e6a825;
    color: #fff;
}
.layui-layer-btn .layui-layer-btn1{
    border-color: #E6E3E6;
    background-color: #fff;
    color: #666;
}
.layui-layer-btn .layui-layer-btn1:hover{
    background-color: rgba(249, 200, 77, 0.25);
}
.layui-table-cell, .users_content .layui-table-cell{
    height: auto;
    line-height: 38px;
}
.clock_content td{
    height: 38px;
    line-height: 38px;
}
/*.clock_content .layui-table-cell{
    height: auto;
}*/
.user_name{
    cursor: pointer;
    position: relative;
    padding: 10px 4px;
    /*background: #00F7DE;*/
}
.logout_wrap{
    position: absolute;
    width: 162px;
    height: 82px;
    /*height: 120px;*/
    background: white;
    top: 40px;
    right: -26px;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 3px;
    z-index: 1000;
    display: none;
}
.logout_wrap ul{
    padding: 5px 0;
}
.logout_wrap ul li{
    height: 36px;
    line-height: 36px;
    padding: 0 0 0 15px;
}
.logout_wrap ul li span{
    margin-left: 8px;
}
.logout_wrap ul li:hover{
    background: #eee;
}
.logout_wrap ul::after{
    content: "";
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    top: -5px;
    right: 30px;
    border-left: 1px solid #eee;
    border-top: 1px solid #eee;
    background-color: #fff;
    transform: rotate(45deg);
}
.user_name:hover .logout_wrap{
   display: block;
}
/*管理员*/
.admin_content_top{
    display: flex;
    align-items: center;
    position: relative;
}
.admin_content_top>div{
    margin: 20px;
    box-sizing: border-box;
}
.admin_content_top>:nth-child(1)>img{
    width: 60px;
    height: 60px;
}
.admin_content_top>:nth-child(2){
    font-size: 20px;
    font-weight: 700;
}
.admin_content_top>:nth-child(3){
    font-size: 16px;
    font-weight: 500;
}
.admin_content_top>:nth-child(4){
    font-size: 14px;
    background: #f0f9eb;
    border:1px solid #5daf34;
    color: #67c23a;
    padding: 4px 10px;
    position: absolute;
    top:32px;
    right: 30px;
    border-radius: 4px;
    cursor: pointer;
}
.admin_content_top>:nth-child(4):hover{
    background: #5daf34;
    border:1px solid #5daf34;
    color: #fff;
}
.layui-laypage .layui-laypage-prev,.layui-laypage .layui-laypage-next{
    padding:0 8px;
}
/*编辑量表*/
.scale_edit_wrap,.scale_details_edit_wrap,.track_details_edit_wrap,
.scale_add_wrap,.add_group_wrap{
    width: 100%;
    min-height: 100%;
    position: absolute;
    left: 0;
    /*right: 0;*/
    top:0;
    /*bottom: 0;*/
    background: rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 999;
}
.scale_edit{
    width: 800px;
    border: 1px solid #eee;
    border-radius: 5px;
    margin: 100px auto auto;
    background: white;
    padding: 50px 100px 20px;

}
.scale_edit>p{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 36px;
}
.scale_edit>div{
    display: flex;
    margin: 20px auto;
}
.scale_edit>.button_edit_scale{
    display: flex;
    justify-content: flex-end;
    margin-top: 60px;
}
.scale_edit>.button_edit_scale>p{
    border-radius: 5px;
    border: 1px solid #999;
    margin: 0 20px;
    color: #999;
    width: 80px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
}
.scale_edit>.button_edit_scale>.button_scale_confirm{
    background: #e6a825;
    color: white;
    border: 1px solid #e6a825;
}
.scale_edit>.button_edit_scale>.button_scale_confirm:hover{
    background: #f9bf53;
    color: white;
}
.scale_edit>.button_edit_scale>p:hover{
    background-color: #fff8ea;
    border: 1px solid #f9bf53;
    color: #e6a825;
}
.scale_edit>div>p{
    color: #666;
    width: 190px;
    font-size: 18px;
    line-height: 30px;
}
.scale_edit>div>input{
    width: 450px;
    line-height: 30px;
}
/*量表详情*/
.scale_details{
    display: none;
}
.scale_details_top{
    display: flex;
    justify-content: space-between;
}
.scale_details_top>:nth-child(1){
    color: #e6a825;
    cursor: pointer;
}
.scale_details_top>:nth-child(2){
    color: #fff;
    background: #e6a825;
    border-radius: 5px;
    padding: 6px 14px;
    cursor: pointer;
}
.scale_details_top>:nth-child(2):hover{
    background: #f9bf53;
}
.scale_details_top>:nth-child(2)>i{
    font-size: 12px;
}













