
.scale_add{
    width: 800px;
    border: 1px solid #eee;
    border-radius: 5px;
    margin: 100px auto auto;
    background: white;
    padding: 50px 100px 50px;
}
.scale_add>i{
    display: block;
    transform: translate(88px,-38px) rotate(45deg);
    float: right;
    cursor: pointer;
}
.scale_add>p{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
.add_scale_form>div{
    margin: 20px 0;
}
.add_scale_form>:nth-child(1),.add_scale_form>:nth-child(3),.add_scale_form>:nth-child(4){
    display: flex;
}
.add_scale_form>:nth-child(1)>p,.add_scale_form>:nth-child(3)>p,.add_scale_form>:nth-child(4)>p{
    width: 110px;
    line-height: 38px;
}
.add_scale_form>:nth-child(1)>input{
    width: 445px;
}
.time_theme{
    display: flex;
}
.time_theme>div{
    display: flex;
}
.time_theme>div>p{
    width: 110px;
    line-height: 38px;
}
.time_theme>div>input{
    width: 120px;
}
.select_item_form>.layui-form-select{
    width: 140px;
    margin-left: 40px;
    margin-top: 24px;
}
.button_add_scale{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
.button_add_scale>p{
    border-radius: 5px;
    border: 1px solid #999;
    margin: 0 20px;
    padding: 5px 2px;
    color: #999;
    width: 80px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
}
.button_add_scale .button_add_scale_confirm{
    background: #e6a825;
    color: white;
    border: 1px solid #e6a825;
}
.button_add_scale .button_add_scale_confirm:hover{
    background: #f9bf53;
    color: white;
}
.button_add_scale .button_add_scale_close:hover{
    border: 1px solid #e6a825;
    background: #fff8ea;
    color: #e6a825;
}
.add_group_wrap .button_add_group_confirm{
    padding: 5px 2px;
}
.button_edit_track .button_add_group_close{
    border-radius: 5px;
    border: 1px solid #999;
    margin: 0 20px;
    padding: 5px 2px;
    color: #999;
    width: 80px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
}
.button_edit_track .button_add_group_close:hover{
    border: 1px solid #e6a825;
    background: #fff8ea;
    color: #e6a825;
}

.group_add_options>li{
    display: flex;
    font-size: 16px;
    color: #666;
    margin: 20px 0;
}
.group_add_options>li>:nth-child(1){
    width: 130px;
    margin-right: 30px;
    text-align: right;
    line-height: 30px;
}
.group_add_options>li>:nth-child(2){
    border: 1px solid #dcdfe6;
    width: 50%;
    height: 100%;
    border-radius: 3px;
}
.group_add_options>li>:nth-child(2)>input{
    border: none;
    line-height: 30px;
    font-size: 14px;
    width: 100%;
}
.group_add_options>li>:nth-child(3){
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: white;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    background: #e6a825;
    margin-left: 20px;
}
.group_add_options>li>:nth-child(3):hover{
    background: #f9bf53;
}
.group_add_options>li>.delete_option_group{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: white;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    background: #e6a825;
    margin-left: 20px;
}
.add_question{
    display: block;
    margin-left: 50px;
    margin-top: 30px;
    line-height: 30px;
    font-size: 14px;
    width: 100px;
    border: 1px solid #dcdfe6;
    height: 100%;
    border-radius: 3px;
    color: #666;
    text-align: center;
    cursor: pointer;
}
.add_question:hover{
    border: 1px solid #e6a825;
    background: #fff8ea;
    color: #e6a825;
}

.scale_details_title{
    font-size: 18px;
    text-align: center;
    padding: 18px;
}
.scale_details_content,.scale_details_content_edit{
    padding: 0 50px;
}
.scale_details_content>li,.scale_details_content_edit>li{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #a9a9a9;
    padding: 20px 0;
    line-height: 2.5em;
}
.scale_details_content>li:hover{
    background: #fff;
}
.scale_details_content [class^="scale_details_question_input"]{
    border: none;
    width: 100%;
    line-height: 2em;
}
.scale_details_question_p{
    border: 1px solid #e0e0e0;
    display: inline-block;
    width: 450px;
}
.scale_details_options{
    /*display: flex;*/
    margin-left: 30px;
}
.scale_details_options>li{
    margin:0 10px;
}
.scale_details_options>li::before{
    content: '○';
}
.scale_details_options_edit{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.add_option_item{
    margin-left: 40px;
    margin-top: 20px;
    line-height: 30px;
    font-size: 14px;
    width: 100px;
    border: 1px solid #dcdfe6;
    border-radius: 3px;
    color: #666;
    text-align: center;
    cursor: pointer;
}
.add_option_item:hover{
    border: 1px solid #e6a825;
    background: #fff8ea;
    color: #e6a825;
}
.scale_details_options .add_option_li{
    margin: 14px 10px ;
}
.scale_details_options .add_option_li input{
    border: none;
}
.scale_details_options .add_option_li .add_option_li_input{
    border: 1px solid #dcdfe6;
    margin-left: 8px;
    display: inline-block;
}
.scale_details_options .add_option_li .add_option_li_input>input{
    width: 100%;
}
.add_option_li>div{
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: white;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
    background: #e6a825;
    margin-left: 20px;

}
.add_option_li>div>.icon-shanchu{
    font-size: 12px;
    margin-left: -1px;
}
.scale_details_options_edit>:nth-child(1){
    width: 38px;
    height: 38px;
    margin: 0 10px;
    border: 1px solid #e6e6e6;
    border-radius: 50%;
    line-height: 38px;
    text-align: center;
    cursor: pointer;
}
.scale_details_options_edit>:nth-child(1):hover{
    border: 1px solid #e6a825;
    background: #fff8ea;
    color: #e6a825;
}
.scale_details_options_edit>:nth-child(2){
    width: 38px;
    height: 38px;
    margin: 0 10px;
    background: #e6a825;
    border-radius: 50%;
    color: white;
    line-height: 38px;
    text-align: center;
    cursor: pointer;
}
.scale_details_options_edit>:nth-child(2):hover{
    background: #f9bf53;
}
.scale_details_edit>i{
    display: block;
    transform: translate(88px,-38px) rotate(45deg);
    float: right;
    cursor: pointer;
}
.scale_details_edit_question>div{
    border: 1px solid #dcdfe6;
    width: 70%;
    border-radius: 3px;
}
.scale_details_edit>.scale_details_edit_question>p{
    width: 130px;
    margin-right: 30px;
    text-align: right;
    font-size: 16px;
}
.scale_details_edit_title{
    width: 100%;
    height: 100%;
    border: none;
}
.scale_edit_options>li{
    display: flex;
    font-size: 16px;
    color: #666;
    margin: 20px 0;
}
.scale_edit_options>li>:nth-child(1){
    width: 130px;
    margin-right: 30px;
    text-align: right;
    line-height: 30px;
}
.scale_edit_options>li>:nth-child(2){
    border: 1px solid #dcdfe6;
    width: 50%;
    height: 100%;
    border-radius: 3px;
}
.scale_edit_options>li>:nth-child(2)>input{
    border: none;
    line-height: 30px;
    font-size: 14px;
    width: 100%;
}
.scale_edit_options>li>:nth-child(3){
    border: 1px solid #dcdfe6;
    width: 50px;
    height: 100%;
    border-radius: 3px;
    margin-left: 20px;
}
.scale_edit_options>li>:nth-child(3)>input{
    border: none;
    line-height: 30px;
    font-size: 14px;
    width: 100%;
}
.scale_edit_options>li>:nth-child(4){
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: white;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    background: #e6a825;
    margin-left: 20px;
}
.scale_edit_options>li>:nth-child(4):hover{
    background: #f9bf53;
}
.scale_details_edit>.add_options_edit{
    display: block;
    margin-left: 160px;
    line-height: 30px;
    font-size: 14px;
    width: 100px;
    border: 1px solid #dcdfe6;
    height: 100%;
    border-radius: 3px;
    color: #666;
    text-align: center;
    cursor: pointer;
}
.scale_details_edit>.add_options_edit:hover{
    border: 1px solid #e6a825;
    background: #fff8ea;
    color: #e6a825;
}
.button_edit_question_confirm{
    background: #00F7DE;
}
.scale_question_input_content,.scale_details_question_input,.option_score{
    border: none;
    width: 100%;
    line-height: 34px;
    padding-left: 5px;
}
.scale_details_content_edit>li{
    position: relative;
}
.save_question{
    padding: 0px 20px;
    background: #e6a825;
    position: absolute;
    right: 10px;
    bottom: 20px;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}
.save_question:hover{
    background: #f9bf53;
}